
<script>
function nextMove() {

}
</script>

<div class="header">
  <h1>You are now playing Tic Tac Toe!</h1>
  <h5>Click on your chosen square to start</h5>
</div>

<div class="board">
  <table>
    <tr>
      <td class="sq-1", onclick="this.style.backgroundImage='#990000';event.preventDefault();"></td>
      <td class="sq-2"></td>
      <td class="sq-3"></td>
    </tr>
    <tr>
      <td class="sq-4"></td>
      <td class="sq-5"></td>
      <td class="sq-6"></td>
    </tr>
    <tr>
      <td class="sq-7"></td>
      <td class="sq-8"></td>
      <td class="sq-9"></td>
    </tr>
  </table>
</div>
