<div class="header">
  <h1>Play Tic Tac Toe</h1>
  <h5>Pick an opponent</h5>
</div>

<div class="opponent-list">
  <ul>
    <% @users.each do |user| %>
    <li class="opponent">
      <%= user.email %>
      <%= link_to  "Play user", game_path%>
    </li>
    <% end %>
  </ul>
</div>
